In [3]:
import pandas as pd
import numpy as np

In [4]:
#checkins = pd.read_json('dataset/checkin.json', lines = True)
business = pd.read_json('dataset/business.json', lines = True)
# users = pd.read_json('dataset/user.json', lines = True)
# tips = pd.read_json('dataset/tip.json', lines = True)
# reviews = pd.read_json('dataset/review.json', lines = True, chunksize=1000)
# photos = pd.read_json('dataset/photos.json', lines = True)

ValueError: Expected object or value

In [4]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...",FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
1,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...",He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA
2,"6025 N 27th Ave, Ste 1",{},KQPW8lFf1y5BT2MxiSZ3QA,"[Departments of Motor Vehicles, Public Service...",Phoenix,{},1,33.524903,-112.115310,Western Motor Vehicle,,85017,18,1.5,AZ
3,"5000 Arizona Mills Cr, Ste 435","{'BusinessAcceptsCreditCards': True, 'Restaura...",8DShNS-LuFqpEWIp0HxijA,"[Sporting Goods, Shopping]",Tempe,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",0,33.383147,-111.964725,Sports Authority,,85282,9,3.0,AZ
4,581 Howe Ave,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",PfOCPjBrlQAnz__NXj9h_w,"[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH

In [5]:
zipcodes = business[['state', 'postal_code', 'stars', 'review_count']].groupby(by='postal_code')

In [6]:
len(zipcodes)

16005

After grouping, we filter out groups so that only valid US zipcodes are remaining. After this, we apply two lambdas on the remaining groups in order to determine each postal code's average star count and total number of reviews.

In [10]:
import re

zipcode_regex = "^[0-9]{5}(-/d{4})?$"

allowed_zipcodes = zipcodes.filter(lambda x: re.match(zipcode_regex, x.name) != None).groupby('postal_code')
zipcode_ratings = allowed_zipcodes.apply(lambda grp: grp['stars'].sum() / len(grp))
zipcode_counts = allowed_zipcodes.apply(lambda grp: grp['review_count'].sum())

In [11]:
After creating the two

SyntaxError: invalid syntax (<ipython-input-11-b5d13cbde7ab>, line 1)

In [12]:
zipcodes_df = pd.DataFrame(zipcode_ratings)
zipcodes_df.loc[:,'1'] = zipcode_counts
zipcodes_df.columns = ['stars', 'review_count']
zipcodes_df

                stars  review_count
postal_code
02224        2.500000             7
05440        4.250000             8
05452        4.000000            49
06618        3.500000             8
06632        4.222222            53
07141        4.500000            18
08054        4.000000             8
09544        3.000000             6
10173        4.500000             3
12200        4.500000             3
12919        2.888889            57
12923        4.500000             9
12958        5.000000             5
12979        3.250000            56
15003        3.958333           391
15009        2.000000             4
15012        5.000000             3
15015        4.000000             8
15017        3.417160          2547
15018        3.750000            10
15024        3.295455           125
15025        3.420000           203
15026        4.062500            74
15030        4.333333            16
15031        3.750000            10
15034        3.454545            70
15035        3.700000            35
15037        3.895833           219
15038        4.500000            23
15044        3.698113          1088
...               ...           ...
89180        3.625000            36
89181        4.000000             9
89183        3.668689         23114
89184        5.000000            10
89191        3.450000           343
89193        3.333333           210
89195        5.000000             4
89199        3.375000           272
89410        5.000000            20
89434        2.500000             3
90001        5.000000            53
90210        5.000000             7
90720        4.000000            14
91020        5.000000            15
91205        1.000000            11
91950        4.000000             5
92008        5.000000             3
92328        3.500000             7
92585        3.500000             3
92832        4.000000            11
93013        2.500000             7
93449        5.000000             9
93612        3.000000            51
94066        5.000000             6
94565        4.500000             8
94901        1.500000           214
95224        3.500000             3
95308        5.000000             3
95966        2.000000           110
98145        5.000000             3

[947 rows x 2 columns]

In [13]:
zipcodes_df.to_csv(path_or_buf='./zipcode_review.csv')