In [2]:
import pandas as pd 
import numpy as np

In [3]:
checkins = pd.read_json('dataset/checkin.json', lines = True);
business = pd.read_json('dataset/business.json', lines = True);
# users = pd.read_json('dataset/user.json', lines = True);
# tips = pd.read_json('dataset/tip.json', lines = True);
# reviews = pd.read_json('dataset/reviews.json', lines = True);
# photos = pd.read_json('dataset/photos.json', lines = True);

In [4]:
checkins.tail()
business = business.set_index('business_id')
business.head()

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,,,
FYWN1wneV18bWNgQjJ2GNg,"4855 E Warner Rd, Ste B9","{'AcceptsInsurance': True, 'ByAppointmentOnly'...","[Dentists, General Dentistry, Health & Medical...",Ahwatukee,"{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...",1,33.330690,-111.978599,Dental by Design,,85044,22,4.0,AZ
He-G7vWjzVUysIKrfNbPUQ,3101 Washington Rd,"{'BusinessParking': {'garage': False, 'street'...","[Hair Stylists, Hair Salons, Men's Hair Salons...",McMurray,"{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...",1,40.291685,-80.104900,Stephen Szabo Salon,,15317,11,3.0,PA
KQPW8lFf1y5BT2MxiSZ3QA,"6025 N 27th Ave, Ste 1",{},"[Departments of Motor Vehicles, Public Service...",Phoenix,{},1,33.524903,-112.115310,Western Motor Vehicle,,85017,18,1.5,AZ
8DShNS-LuFqpEWIp0HxijA,"5000 Arizona Mills Cr, Ste 435","{'BusinessAcceptsCreditCards': True, 'Restaura...","[Sporting Goods, Shopping]",Tempe,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",0,33.383147,-111.964725,Sports Authority,,85282,9,3.0,AZ
PfOCPjBrlQAnz__NXj9h_w,581 Howe Ave,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...","[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH

We need to flatten out the time object for each checkin, and create a new dataframe with the checkins per timeslot linked to the business id.

In [5]:
from pandas.io.json import json_normalize
new_checkins = json_normalize(checkins['time'])
new_checkins['business_id'] = checkins['business_id']
flat_checkins = new_checkins.set_index('business_id')

In [6]:
flat_checkins.tail()

,Friday.0:00,Friday.10:00,Friday.11:00,Friday.12:00,Friday.13:00,Friday.14:00,Friday.15:00,Friday.16:00,Friday.17:00,Friday.18:00,...,Wednesday.22:00,Wednesday.23:00,Wednesday.2:00,Wednesday.3:00,Wednesday.4:00,Wednesday.5:00,Wednesday.6:00,Wednesday.7:00,Wednesday.8:00,Wednesday.9:00
business_id,,,,,,,,,,,,,,,,,,,,,
z4EIzLJlGd7gyje1Q_hKtw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cQvAOJPEoXqi2IUwqDwo6w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xf72Yt6l6YUcqz7xCrWSwQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZqTXN4qh0Ta1Lp8Z3v-dKg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aY0ZSpAK7h7-SmP6KVS8oA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, we can apply a lambda function to each column and sort the result to see which times have the most checkins. From the data, it appears that the weekend lunch and dinner rushes have the most number of checkins on Yelp.

In [7]:
ordered_checkins = flat_checkins.apply(lambda ser: ser.sum()).sort_values(ascending=False)
ordered_checkins.head(10)

Saturday.19:00    251537.0
Saturday.20:00    246969.0
Saturday.1:00     245453.0
Saturday.2:00     236195.0
Sunday.1:00       235295.0
Saturday.21:00    229788.0
Sunday.19:00      229561.0
Saturday.18:00    225651.0
Sunday.0:00       225209.0
Sunday.2:00       224716.0
dtype: float64

Now, we need to sum each business's checkins and use that data to build up checkin counts for each category.

In [30]:
joined_businesses = flat_checkins.join(business['categories'])
business_checkins = flat_checkins.sum(axis=1, numeric_only=True)

In [31]:
business_checkins.name = 'total_checkins'
business_checkins.head()

business_id
7KPBkxAOEtb3QeIL9PEErg    129.0
kREVIrSBbtqBhIYkTccQUg      7.0
tJRDll5yqpZwehenzE2cSg      5.0
r1p7RAMzCV_6NPF0dNoR3g      5.0
mDdqgfrvROGAumcQdZ3HIg     29.0
Name: total_checkins, dtype: float64

Create a table of all categories by extracting the categories from each business's category array.

In [10]:
categories_flat = pd.DataFrame(joined_businesses['categories'].values.tolist(), index=joined_businesses.index)

In [11]:
joined_businesses['categories'].values.tolist()
joined_businesses.index

Index(['7KPBkxAOEtb3QeIL9PEErg', 'kREVIrSBbtqBhIYkTccQUg',
       'tJRDll5yqpZwehenzE2cSg', 'r1p7RAMzCV_6NPF0dNoR3g',
       'mDdqgfrvROGAumcQdZ3HIg', 'nhZ1HGWD8lMErdn3FuWuTQ',
       'vDoXZGE7p6xAkKQ0XQPvoA', '8bY6M2yiWOF2ilfmGS34Fw',
       'zNVot5_XHsxwfKdiFjk_aA', 'BH0K6SxPnY3wTRB7tA27hQ',
       ...
       'HqrRlQJ-6Z3u67TceiNmGw', 'l8CQOoLfUfV44tRZa0elXQ',
       'caxzOoHXDefbG1g1G1ee8g', 'kCZHW9S2JX86RMAGxF9Rdg',
       'nCbH3OrBj9YMp-_s5bTsbg', 'z4EIzLJlGd7gyje1Q_hKtw',
       'cQvAOJPEoXqi2IUwqDwo6w', 'xf72Yt6l6YUcqz7xCrWSwQ',
       'ZqTXN4qh0Ta1Lp8Z3v-dKg', 'aY0ZSpAK7h7-SmP6KVS8oA'],
      dtype='object', name='business_id', length=146350)

In [12]:
categories = pd.Series(pd.unique(np.concatenate(categories_flat.values)))
checkin_categories = categories_flat.join(business_checkins).sort_values(by='total_checkins',ascending=False)
checkin_categories.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,total_checkins
business_id,,,,,,,,,,,,,,,,,,,,,
FaHADZARwnY4yvlvpnsfGA,Hotels & Travel,Airports,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,131958.0
JmI9nslLD7KZqRr__Bg6NQ,Hotels & Travel,Airports,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,112590.0
yQab5dxZzgBLTEHCw9V7_w,Hotels & Travel,Airports,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,49934.0
5LNZ67Yw9RD6nf4_UhXOjw,Hotels,Event Planning & Services,Casinos,Hotels & Travel,Arts & Entertainment,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,43995.0
SMPbvZLSMMb7KU76YNYMGg,Event Planning & Services,Arts & Entertainment,Casinos,Resorts,Hotels & Travel,Hotels,None,None,None,None,...,None,None,None,None,None,None,None,None,None,32603.0

In [81]:
s1 = pd.DataFrame(business['categories'])
s2 = pd.DataFrame(business_checkins)
business_category_checkins = pd.merge(s1, s2, how='left', left_index=True, right_index=True)
business_category_checkins = business_category_checkins.reset_index()
business_category_checkins.head()

,business_id,categories,total_checkins
0,FYWN1wneV18bWNgQjJ2GNg,"[Dentists, General Dentistry, Health & Medical...",39.0
1,He-G7vWjzVUysIKrfNbPUQ,"[Hair Stylists, Hair Salons, Men's Hair Salons...",15.0
2,KQPW8lFf1y5BT2MxiSZ3QA,"[Departments of Motor Vehicles, Public Service...",6.0
3,8DShNS-LuFqpEWIp0HxijA,"[Sporting Goods, Shopping]",120.0
4,PfOCPjBrlQAnz__NXj9h_w,"[American (New), Nightlife, Bars, Sandwiches, ...",263.0

In [82]:
from  itertools import chain
#https://stackoverflow.com/questions/40280265/python-pandas-flatten-with-arrays-in-column
df = pd.DataFrame({
        "business_id": np.repeat(business_category_checkins.business_id.values, business_category_checkins.categories.str.len()),
        "total_checkins": np.repeat(business_category_checkins.total_checkins.values, business_category_checkins.categories.str.len()),
        "category": list(chain.from_iterable(business_category_checkins.categories))})

In [90]:
df.pivot_table( index='category', values='total_checkins', aggfunc=sum).sort_values(by='total_checkins', ascending=False)

                              total_checkins
category
Restaurants                        9261280.0
Food                               4028818.0
Nightlife                          2936750.0
Bars                               2668841.0
Shopping                           1753826.0
American (Traditional)             1714648.0
American (New)                     1687526.0
Arts & Entertainment               1565138.0
Event Planning & Services          1498563.0
Breakfast & Brunch                 1468417.0
Hotels & Travel                    1450013.0
Coffee & Tea                       1181215.0
Sandwiches                         1063497.0
Active Life                        1022778.0
Hotels                              904686.0
Mexican                             898880.0
Burgers                             895109.0
Pizza                               772072.0
Casinos                             746857.0
Japanese                            667736.0
Fast Food                           658027.0
Beauty & Spas                       653220.0
Seafood                             651755.0
Grocery                             650406.0
Italian                             650183.0
Fashion                             578951.0
Desserts                            561150.0
Sushi Bars                          556971.0
Fitness & Instruction               553460.0
Asian Fusion                        513007.0
...                                      ...
Duplication Services                     1.0
Beach Volleyball                         1.0
Schnitzel                                1.0
Erotic Massage                           1.0
Baden                                    1.0
Ceremonial Clothing                      1.0
Trivia Hosts                             1.0
Medical Foot Care                        1.0
Hazardous Waste Disposal                 1.0
Undersea/Hyperbaric Medicine             1.0
Patent Law                               1.0
Halfway Houses                           0.0
Signature Cuisine                        0.0
Entertainment Law                        0.0
Mobile Home Repair                       0.0
Crane Services                           0.0
Disability Law                           0.0
Calligraphy                              0.0
Well Drilling                            0.0
Eastern German                           0.0
Alsatian                                 0.0
Luggage Storage                          0.0
IP & Internet Law                        0.0
Playsets                                 0.0
Excavation Services                      0.0
Structural Engineers                     0.0
DUI Schools                              0.0
Storefront Clinics                       0.0
Interlock Systems                        0.0
Kiosk                                    0.0

[1293 rows x 1 columns]